body {
  background-color: #fdfdf1;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  color: #9ad9ea;
  border-radius: 0px;
  text-align: center;
}

.bg-blue {
  background-color: #9ad9ea;
}

.navbar {
  text-decoration: none;
  font-weight: bold;
  position: relative;
  font-size: 20px;
}

.logo {
  height: 45px;
  border-radius: 50px;
}



footer {
  position: relative;
  bottom: -10px;
  width: auto;
  height: 100px;
  background-color: #9ad9ea;
  color: white;
  text-align: center;
}

footer p {
  position: relative;
  bottom: -20px;
  font-size: 17px;
}

fieldset.scheduler-border {
  border: 5px solid #7092bf;
  padding: 10px;
  border-radius: 10px;
  margin: 50px 100px 100px;
  text-align: center;
}

legend.scheduler-border {
  width: auto;
  text-align: center;
  font-size: 26px;
  color: #7092bf;
  font-weight: bold;
  position: relative;
  top: -3px
}

.shoppingcart {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 3;
}

.abs-center-x {
  position: fixed;
  left: 50%;
  top: 7px;
  transform: translateX(-50%);
}

.vertical-menu {
  width: 15%;
  position: relative;
  text-align: center;
  margin-top: -10%;
}

.vertical-menu a {
  background-color: #f6ffa4;
  color: #22589f;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ffbb27;
  text-decoration: none;
}

.vertical-menu a.active {
  background-color: #ffbb27;
}

.card {
  margin: 20px;
  text-align: center;
}



.title {
  position: relative;
  margin-top: 100px;
  text-align: center;
  font-size: 20px;
  color: #22589f;
}

.list-group {
  margin: 45px;
  width: 150px;
}